.main {
	width: 70%;
	min-width: 900px;
	max-width: 1058px;
	height: 100%;
	min-height: 1100px;
	max-height: auto;
	padding-top: 20px;
	color: white;
}

.keylr {
	width: 100px;
	height: 315px;
	text-align: center;
	font-size: 90px;
	color: white;
}
