h1 {
	color: black;
}

.hdr {
	position: relative;
	width: 1060px;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: white;
}

#logo {
	-webkit-filter: invert(100%);
	background-color: white;
	padding-right: 470px;
	padding-left: 470px;
	margin: -4px;
}

.menu {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 50px;
	margin-top: 0px;
	padding-top: 20px;
	margin-bottom: -19px;
	background-color: white;
	border-bottom: 1px solid black;

}

.menu li {
	display: inline;
	margin: -2px;
	padding-top: 10px;
	padding-bottom: 25px;
	background-color: white;
	font-family: Zapf Chancery, cursive;
	border-bottom: 1px solid black;
}

.menu li a {
	padding: 0px 82px;
	padding-top: 7px;
	text-decoration: none;
	color: black;
}

.menu li a:hover{
	padding-top: 20px;
	padding-bottom: 1111px;
	background-color: black;
	color: white;
}

body {
	position: relative;
	height: 100%;
	margin: 0px;
	background-color: white;
}
