.main {
	width: 1058px;
	min-width: 900px;
	max-width: 1058px;
	height: 2000px;
	min-height: 1100px;
	max-height: 1700px;
	color: white;
	background-color: #ffffff;

}

#sectionProd {
	float: left;
}

.areaProd {
	display: inline-block;
	margin: 0 0 40px 60px;
	width: 940px;
	height: 300px;
	background: rgba(149,210,255, 0.6);
	border: 1px solid black;
	z-index: 1;
}

.line {
	position: relative;
	float: inherit;
	width: 70%;
	border-bottom: 1px solid grey;
	margin-left: 21px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.newProd {
	position: relative;
	margin: inherit;
	float: left;
	background-color: white;
	padding: 0;
	margin: 0;
	width: 300px;
	height: 300px;

}

.infoProd {

	position: relative;
	margin-top: -300px;
	margin-left: 400px;
	width: 500px;
	height: 200px;
	background-color: black;
	z-index: 2;
}

h1 {
	float: left;
	font-family: 'Source Code Pro';
	font-size: 30px;
	margin: 20px 0 0 45px;
	padding: 0;
}

.description {

	font-style: italic;
	font-size: 21px;
}

.prix {
	font-size : 60px;
	padding: 0;
}

.centimes {
	font-size: 30px;
}

.moreInfo {
	text-decoration: none;
	font-family: 'Source Code Pro';
	font-style: italic;
	font-size: 18px;
	text-align: center;
}
